<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Welcome!</a>

    <div class="d-flex gap-3 align-items-center">
      <a href="/menu" class="nav-link">Our Menu</a>
      <a href="/order" class="nav-link">Order Now</a>
      <a href="/order/track" class="nav-link">Track Order</a>

      <% if (role === 'employee') { %>
        <a href="/menu/management" class="nav-link">Manage Menu</a>
        <a href="/order/management" class="nav-link">Manage Orders</a>
        <a href="/info" class="nav-link">Customer Information</a>
      <% } %>

      <a href="/" class="btn btn-outline-success">Switch Role</a>
    </div>
  </div>
</nav>