<a href="/menu">Our Menu</a>
<a href="/order">Order Now</a>
<% if (locals.flash) { %>
  <%- locals.flash %>
<% } %>
<a href="/order/track">Track Order</a>
<a href="/order/management">Manage Orders</a>