<a href="/menu">Our Menu</a>
<a href="/order">Order Now</a>
<a href="/order/track">Track Order</a>

<% if (role === 'employee') { %>
  <a href="/menu/management">Manage Menu</a>
  <a href="/order/management">Manage Orders</a>
<% } %>

<a href="/">Switch Role</a>