<%- include('partials/header') %>
<%- include('partials/navbar') %>
<h4>Starters</h4>
<ul>
    <li>Shrimp cocktail</li>
    <li>French onion soup</li>
    <li>Mushroom platter</li>
</ul>

<h4>Entrees</h4>
<ul>
    <li>Fillet mignon with mashed potatoes and sauteed asparagus </li>
    <li>Grilled salmon with garlic spinach and roasted potatoes </li>
    <li>Linguini with cherry tomatoes, feta cheese chunks and zuchini slices </li>
</ul>

<h4>Desserts</h4>
<ul>
    <li>Creme brule</li>
    <li>Honey cake</li>
    <li>Royal custard</li>
</ul>

<h4>Drinks</h4>
<ul>
    <li>Coke</li>
    <li>Coke (diet)</li>
    <li>Sprite</li>
    <li>Iced tea</li>
    <li>Bottled water</li>
</ul>
<br>
<%- include('partials/footer') %>