<%- include('partials/header') %>
<%- include('partials/navbar') %>
<br>
Customize and submit orders here. 
<br> 
<div class="container-fluid p-5 bg-primary text-white text-center">
  <h1>My First Bootstrap Page</h1>
  <p>Resize this responsive page to see the effect!</p>
</div>
<div class="form-group">
    <label for="nameTextField">Phone Number</label>
    <input type="text" class="form-control" id="nameTextField" placeholder="Enter a phone number" name="Phone number" required>
</div>
<br>
<%- include('partials/footer') %>